* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #fff;
  --background-grey: #cecece;
  --background-grey-light: #efefef;
  --background-grey-dark: #909090;
  --accent1: #0087c9;
  --accent2: #ffb168;
  --dark: #000;
}

/* breakpoints */
/* 1200px - 75em */
/* 1056px - 66em */
/* 752px - 47em */
/* 576px - 36em */

html {
  font-size: 62.5%;

  /* 1200px */
  @media (max-width: 75em) {
    font-size: 56.25%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 32.56em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background-color: var(--background-light);
}

.app__logo {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 3rem;

  /* 1056px */
  @media (max-width: 66em) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 140rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 40rem 1fr;
  grid-template-rows: 3rem 1fr;
  column-gap: 1vw;

  /* 1056px */
  @media (max-width: 66em) {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem;
    grid-auto-rows: min-content;
    padding: 4rem;
  }

  /* 752px - 47em */
  @media (max-width: 47em) {
    padding: 1rem 0.4rem 4rem 0.4rem;
  }
}

/* sidebar */

.app__sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  position: fixed;
  margin-top: 10vh;

  /* 1056px */
  @media (max-width: 66em) {
    position: unset;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 2rem;
  }
}

.sidebar__message {
  font-size: 1.6rem;

  /* 752px - 47em */
  @media (max-width: 47em) {
    display: none;
  }
}

.sidebar__form {
  /* 1056px */
  @media (max-width: 66em) {
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding: 0 2rem;
  }

  /* 752px - 47em */
  @media (max-width: 47em) {
    grid-template-columns: 1fr;
  }
}

.sidebar__caption {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.sidebar__label {
  font-size: 1.6rem;
}

.sidebar__label-price {
  font-size: 1.6rem;
}

.sidebar__input-row:not(:last-child) {
  margin-bottom: 0.4rem;
}

.sidebar__input-min-price {
  margin-left: 0.7rem;
}

.sidebar__input-max-price {
  margin-left: 0.5rem;
}

.sidebar__wrap:not(:first-child) {
  margin-top: 2rem;

  /* 1056px */
  @media (max-width: 66em) {
    margin-top: 0;
  }
}

.sidebar__wrap {
  /* 1056px */
  @media (max-width: 66em) {
    margin-bottom: 1rem;
  }
}

.sidebar__price-input {
  width: 20rem;
}

/* flightlist */
.app__flightlist {
  grid-column: 2/3;
  grid-row: 2/3;

  /* 1056px */
  @media (max-width: 66em) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.app__flightlist-message {
  margin-top: 3rem;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 2.2rem;

  /* 1056px */
  @media (max-width: 66em) {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
  }

  /* 752px - 47em */
  @media (max-width: 47em) {
    font-size: 2rem;
  }
}

.flight-leg:first-child {
  border-bottom: 0.18rem solid var(--accent1);
}

.flight {
  font-size: 2rem;

  /* 752px - 47em */
  @media (max-width: 47em) {
    font-size: 1.8rem;
  }

  span {
    color: var(--accent1);
  }
}

.app__flight {
  margin-top: 4rem;
}

.flight-leg {
  padding: 0 2rem;

  /* 576px */
  @media (max-width: 36em) {
    padding: 1.4rem 0.4rem;
  }
}

.flight-leg__dest {
  border-bottom: 0.1rem solid var(--background-grey);
  padding: 1rem 0;
}

.flight-leg__time {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.flight-leg__time-date {
  color: var(--accent1);
  font-size: 1.8rem;
}

.flight-leg__transfer {
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--accent2);
}

.flight-leg__transfer::before,
.flight-leg__transfer::after {
  content: "";
  display: flex;
  background-color: var(--background-grey-dark);
  height: 0.07rem;
  width: 40%;
  position: relative;
  top: 0.2rem;
}

/* 752px - 47em */
@media (max-width: 47em) {
  .flight-leg__transfer::before,
  .flight-leg__transfer::after {
    width: 30%;
  }
}

/* 576px */
@media (max-width: 36em) {
  .flight-leg__transfer::before,
  .flight-leg__transfer::after {
    width: 20%;
  }
}

.flight-leg__airline {
  font-size: 1.8rem;
  padding: 1rem 0;

  /* 752px - 47em */
  @media (max-width: 47em) {
    font-size: 1.6rem;
  }
}

.flight__top {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent1);
  color: var(--background-light);
}

.flight__top-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flight__top-price {
  font-size: 2.6rem;

  /* 752px - 47em */
  @media (max-width: 47em) {
    font-size: 2.4rem;
  }
}

.flight__top-descr {
  font-size: 1.6rem;
}

.select-btn {
  background-color: var(--accent2);
  color: var(--background-light);
  border: transparent;
  width: 100%;
  height: 4.5rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  cursor: pointer;
}

.select-btn:active {
  filter: brightness(80%);
}

.select-btn:hover {
  filter: brightness(95%);
}

.show-more-btn {
  display: block;
  background-color: var(--background-grey-light);
  color: var(--dark);
  border: 0.15rem solid var(--dark);
  width: 32rem;
  height: 4rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-more-btn:active {
  background-color: var(--background-grey-dark);
}

.show-more-btn:hover {
  background-color: var(--background-grey);
}

.app__show-more-btn {
  margin: 2rem auto 0 auto;
}

